[submodule "lightdm-gab-gradient"]
	path = lightdm-webkit/themes/lightdm-gab-gradient
	url = git@github.com:Brettm12345/lightdm-gab-gradient.git
[submodule "awesome/cyclefocus"]
	path = awesome/cyclefocus
	url = git@github.com:blueyed/awesome-cyclefocus.git
