//META{"name":"Anti_Lag","description":"Github: https://git.io/v7ovg    |   Support Server: https://discord.gg/kWRYPrq    |  Website: https://nfld99.com/","author":"NFLD99","version":"ersion auto updates"}*//{} 
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Master_Code.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_1_Guild_Row/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_2_Guild_Rows/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_3_Guild_Rows/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Animations/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Fonts/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Minimal/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Popup/Yes.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Channels/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Chat_Title_Bar/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Guilds/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Invites/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Members/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Windows_Bar/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Offline/No.css);
@import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Hide/Popout_Footer/Yes.css);
 @import url(https://nfld99.github.io/Better-Discord/Source_Code/Use_Transparency/No.css);
:root {
  --Main-Colour: rgba(0,172,234,1);
  --Background-Colour: rgba(48,48,48,1);
  --S-Colour: rgba(48,48,48,.3);
  --M-Colour: rgba(0,172,234,.5);
  --Text-Shadow-Colour: rgba(48,48,48,.65);
  --Scroller-Colour: rgba(0,172,234,0);
  --Notification-Colour: rgba(0,172,234,1);
  --Chat-Input-Background: rgba(0,0,0,0);
  --Chat-Input-Colour: var(--Main-Colour) ;
  --Unread-Message-1: var(--Main-Colour) ;
  --Unread-Message-2: var(--Background-Colour) ;
  --Chat-Background: rgba(75,76,76, 1);
  --Settings-Background: rgba(75,76,76, 1);
  --Callout-Background: rgba(75,76,76, 1);
  --Title-Background: var(--Background-Colour);
  --Theme-Variant: " Anti Lag";
  --Chat-Font-Used: ;
  --Chat-Font-Size: 15px;
  --Unread-Message-Speed: 1.5s;
  --Popout-Main-Colour: var(--Main-Colour);
  --Popout-Background: var(--Chat-Background);
  --Popout-Text-Shadow-Colour:var(--Text-Shadow-Colour);
  --Emote-Popout-Background: var(--S-Colour);
  --load1: "Anti";
  --load2: "Lag";
  --load3: "➢NFLD99";
  --Settings-Dock-Colour: var(--Main-Colour);
  --Timestamp-Colour: var(--M-Colour);
  --Background-Brightness: 0.27;
}