:root {
  --accent-color-active: #b3ccff;
  --accent-color-hover: #9bbbff;
  --accent-color: #82aaff;
  --accent-rgb: rgba(130, 170, 255, 0.3);
  --alert-color-active: #ff97a9;
  --alert-color-hover: #ff758c;
  --alert-color: #ff5370;
  --border-radius-bar: 3px;
  --border-radius-big: 8px;
  --border-radius: 4px;
  --card-color: #1e212e;
  --card-games: #242837;
  --card-shadow-border: 0 1px 0 0 #333333;
  --chat-color: #232635;
  --default-animation: cubic-bezier(0.4, 0, 0.2, 1);
  --divider-color: #3c435e;
  --fg-alt: #a6accd;
  --hover-color: rgba(238, 255, 255, 0.05);
  --input-color: #1e212e;
  --main-alt: #1c1f2b;
  --main-color: #1e212e;
  --message-alt: #1c1f2b;
  --message-color: #292d3e;
  --popout-alt: #2b2f3f;
  --popout-color: #232635;
  --server-bg: #232635;
  --slider-background: #4e5579;
  --spotify-color: #c3e88d;
  --stream-color: #c792ea;
  --success-color: #44b9b1;
  --shadow-1dp: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --shadow-2dp: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  --shadow-3dp: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  --shadow-button: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  --shadow-button-hover: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  --shadow-button-active: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

::selection {
  background: var(--accent-color);
}

* {
  font-family: "Noto Sans", sans-serif !important;
  font-weight: 500;
  font-stretch: extra-condensed !important;
  text-rendering: geometricPrecision !important;
}

.repoUtilsButtonGroup {
  background-color: var(--slider-background) !important;
}

.diversitySelector-tmmMv0 {
  display: none !important;
}

input,
textarea,
keygen,
select,
button {
  font-family: "Noto Sans", sans-serif !important;
  font-weight: 500;
  font-stretch: extra-condensed !important;
}

.ace_editor * {
  font-family: "Iosevka Term Custom", Consolas, Menlo, Monaco, Lucida Console,
    Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace, serif !important;
  font-weight: 500 !important;
}

.markup-2BOw-j pre,
.markup-2BOw-j pre *,
.markup-2BOw-j pre code,
.markup-2BOw-j pre code *,
.markup-2BOw-j code.inline {
  font-family: "Iosevka Term Custom", Consolas, Menlo, Monaco, Lucida Console,
    Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New,
    monospace, serif !important;
  font-weight: 500 !important;
}

.markup-2BOw-j code.inline,
.markup-2BOw-j pre,
.markup-2BOw-j pre code {
  background: var(--message-alt) !important;
  border: none !important;
}

.embedInner-1-fpTo {
  background: var(--message-alt) !important;
}

.emojiPicker-3m1S-j .categories-1feg4n {
  height: 62px !important;
}

.app-19_DXt input,
.quickMessage-1yeL4E,
.bda-slist input {
  padding: 4px !important;
}

.focused-2bY0OD {
  background-color: var(--main-alt) !important;
}

.or-3THJsp {
  background: var(--divider-color) !important;
}

.divider-3573oO {
  border-color: var(--divider-color) !important;
}

.pickerButtons-v-PPYK {
  width: 70px;
  height: 68px;
  top: 0;
  right: 12px;
  position: absolute;
}

.guild-1EfMGQ.unread-qLkInr::before,
.guild-1EfMGQ.selected-ML3OIq.unread-qLkInr::before {
  display: none !important;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em !important;
  background: #292d3e !important;
}

.hljs ol li::before {
  color: var(--slider-background) !important;
}

.hljs-built_in,
.hljs-selector-tag,
.hljs-section,
.hljs-link {
  color: #82aaff !important;
}

.hljs-keyword {
  color: #c792ea !important;
}

.hljs,
.hljs-subst {
  color: #eeffff !important;
}

.hljs-string,
.hljs-title {
  color: #c3e88d !important;
}

.hljs-meta,
.hljs-name,
.hljs-type,
.hljs-attr,
.hljs-symbol,
.hljs-bullet,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #ffcb6b !important;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion {
  color: #78ccf0 !important;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type,
.hljs-name,
.hljs-strong {
  font-weight: bold;
}

.hljs-literal,
.hljs-number {
  color: #ffcb6b !important;
}

.hljs-emphasis {
  font-style: italic;
}

.channelName-1QajIf {
  background-color: var(--chat-color) !important;
}

.searchHeader-1l-wpR,
.searchResultsWrap-2DKFzt {
  background-color: var(--chat-color) !important;
  border-color: var(--divider-color) !important;
}

.searchBar-2_Yu-C.searchBarLight-1NxoDG .searchBarInner-1_Tg2R {
  background-color: var(--message-color) !important;
}

.searchResult-3pzFAB .hit-NLlWXA {
  background-color: var(--message-alt) !important;
}

.searchResult-3pzFAB::before,
.searchResult-3pzFAB::after {
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    from(rgba(47, 49, 54, 0)),
    to(var(--message-color))
  ) !important;
  background-image: linear-gradient(
    0deg,
    rgba(47, 49, 54, 0),
    var(--message-color)
  ) !important;
}
.emojiPicker-3m1S-j .header-1nkwgG .searchBar-2pWH0_ {
  padding: 12px;
  padding-top: 20px;
}

.emojiPicker-3m1S-j .scroller-3vODG7 {
  height: 232px;
}

.bda-dark .emoji-picker .scroller::-webkit-scrollbar,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track,
.bda-dark .emoji-picker .scroller::-webkit-scrollbar-track-piece,
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar,
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track,
.bda-dark .emojiPicker-3m1S-j .scroller-3vODG7::-webkit-scrollbar-track-piece {
  background-color: var(--main-color) !important;
  border-color: var(--main-color) !important;
}

.guild-1EfMGQ.selected-ML3OIq {
  background-color: var(--popout-alt) !important;
}

.dividerContent-2L12VI::before,
.dividerContent-2L12VI::after {
  background-color: var(--divider-color) !important;
}

.divider-3gKybi > span {
  color: var(--fg-alt) !important;
  background-color: var(--divider-color) !important;
}

.headerNormal-T_seeN {
  background-color: var(--popout-color) !important;
}

.embedInner-1-fpTo {
  background-color: var(--message-alt) !important;
}

.queryText-3xoOY7 {
  background-color: var(--main-alt) !important;
}

.content-20Aix8.contentSelectedText-3wUhMi,
.privateChannels-1nO12o .channel-2QD9_O.selected a {
  background-color: var(--card-games) !important;
}

.channel-2QD9_O.selected-1HYmZZ a {
  background-color: var(--popout-alt) !important;
}

.content-20Aix8:hover,
.privateChannels-1nO12o .channel-2QD9_O:hover a {
  background-color: var(--hover-color);
}

.searchBar-2_Yu-C input {
  font-size: 14px !important;
}

.searchResult-3pzFAB .hit-NLlWXA {
  box-shadow: 0 0 10px 6px var(--chat-color) !important;
}

.activity-1IYsbk {
  color: var(--fg-alt) !important;
}

.app-19_DXt input,
.quickMessage-1yeL4E,
.bda-slist input {
  border-color: var(--divider-color) !important;
}

.footer-1kmXd4 {
  background-color: var(--popout-color) !important;
}

.note-3kmerW textarea:focus {
  background-color: var(--popout-color) !important;
}

.themedPopout-25DgLi .header-SsaQ8X {
  background-color: var(--popout-color) !important;
}

.search-l1Wz-Q {
  background: var(--popout-color) !important;
}

.searchBar-2_Yu-C {
  background-color: var(--popout-color) !important;
}

.container-3gCOGc {
  background-color: var(--chat-color) !important;
}

.headerTop-1QGMLs,
.headerTop-27AvhA,
.headerTop-3C2Zn0,
.header-2Lg0Oe,
.header-QKLPzZ,
.connectionHeader-2MDqhu {
  background-color: var(--popout-color) !important;
}

#bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch {
  background-color: var(--message-color) !important;
}

.bda-slist .pluginEntry,
.bda-slist .themeEntry {
  background-color: var(--card-color) !important;
}

#bd-settingspane-container
  .ui-switch-item
  .ui-switch-wrapper
  .ui-switch::before {
  background-color: var(--slider-background) !important;
}

.tabBarContainer-1s1u-z.da-tabBarContainer {
  background-color: var(--popout-color) !important;
}

.tooltip,
.statusOnlineProfile-C7N-xU::before,
.statusIdleProfile-3lQI6a::before,
.statusDndProfile-33i43o::before,
.statusOfflineProfile-9tGGr-::before,
.statusInvisibleProfile-3iFEOq::before,
.downloadLink-1ywL9o::before,
.wrapper-129saQ a::before,
.newMessagesBar-mujexs button:last-child::before,
.bda-dark #bda-qem button::after,
#searchBarInner .checkbox::after,
.tipsy-inner,
.operations-36ENbA .anchor-3Z-8Bb::before,
.metadataDownload-1fk90V::before,
.bubble-3qRl2J {
  font-weight: 600;
  background-color: var(--main-alt) !important;
}
