code {
    font-family: "Iosevka Term Custom Medium";
}
code.inline {
    font-family: "Iosevka Term Custom Medium";
}

a, abbr, acronym, address, applet, big, blockquote, body, caption, cite, code, dd, del, dfn, div, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, kbd, label, legend, li, object, ol, p, pre, q, s, samp, small, span, strike, strong, sub, sup, table, tbody, td, tfoot, th, thead, tr, tt, ul, var {
    font-family: "Noto Sans";
    font-weight: 500;
}
