//META{"name":"Minimalistcord","description":"Perfectly simplistic.","author":"Conner Francis and Aiden Brown","version":"0.93"}*//
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,300);
/*Settings*/
.modal {
 color: white;
}

.settings .settings-inner {
  background-color: #3c404b !important;
}
.theme-dark .channel-members .member.popout-open, .theme-dark .channel-members .member:hover {
  background: #1c1e24;
  transition: background .2s ease-in-out;
}
.theme-dark .channel-members .member {
  width: 76%;
  border-radius: 2px;
  transition: background .2s ease-in-out;
}
.user-settings-modal a {
  color: #ff1744;
}
.user-settings-modal a:hover {
  color: #ff3f62;
}
.settings .settings-header
{
    background-color: #31343d;
}
.tab-bar.SIDE {
  overflow-y: hidden;
}
.form .control-group input[type=email], .form .control-group input[type=password], .form .control-group input[type=text], .form .control-group textarea, .form .control-group .has-value .Select-placeholder {
  background-color: transparent;
  color: white;
  border-bottom: 2px solid transparent;
}
.form .control-group input[type=email]:focus, .form .control-group input[type=password]:focus, .form .control-group input[type=text]:focus, .form .control-group textarea:focus, .form .control-group .has-value .Select-placeholder:focus {
  border-bottom: 2px solid #ff1744;
}
.settings .settings-right {
  border-radius: 0px !important;
}
.settings .settings-actions {
  border-radius: 0px;
  background-color: #3c404b;
  border: none;
}
.tab-bar.SIDE {
  border: none;
}
.checkbox .checkbox-inner+span {
    color: white;
}
.Select {
  color: white !important;
}
.Select-control {
  border: none;
  background-color: transparent;
}
.Select-control:hover {
  box-shadow: none;
}
.form .control-group .Select-control {
  border: none !important;
}
.form .btn-primary {
    background-color: #ff1744;
}
.form .btn-primary:hover {
    background-color: #ff3f62;
}
.theme-dark .chat > .content .messages .message-group a:hover
{
    text-decoration: none;
}
.message-group .comment .markup
{
    color: white;
}
.form .form-header
{
    border: none;
    border-radius: 0;
    background-color: #31343d;
}
.form .form-inner
{
    background-color: #3c404b;
}
.form .btn.red
{
    background: #ff1744;
}
.form .btn.red:hover
{
    background-color: #ff3f62;
}
.form .form-actions
{
    border: none;
    background-color: #3c404b;
}
.form .btn-default
{
    border: none;
    background-color: #3c404b;
}
.form header
{
    color: white;
}
.modal-content .form-inner p
{
}
.popout header
{
    background-color: #31343d;
}
.popout section
{
    background-color: #3c404b;
}
.slider-handle
{
    top: -5px;

    width: 18px;
    height: 18px;
    margin-left: -4px;

    border: none;
    border-radius: 24px;
}
.slider-handle,
.slider-handle span
{
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.slider-bar
{
    background: transparent;
}
.slider-bar-fill
{
    background: #ff1744;
}
.tooltip
{
    border-radius: 0;
    background-color: #ff1744;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.tooltip.tooltip-right:after
{
    border-right-color: #ff1744;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.tooltip.tooltip-bottom:after
{
    border-bottom-color: #ff1744;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.tooltip.tooltip-top:after
{
    border-top-color: #ff1744;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.tooltip.tooltip-left:after
{
    border-left-color: #ff1744;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.user-popout .user-popout-options .btn.btn-server
{
    transition: color .2s ease-in-out;

    color: white;
    border: none;
    border-radius: 0;
}
.user-popout .user-popout-options .btn:hover
{
    transition: color .2s ease-in-out;

    background-color: rgba(49, 52, 61, .75);
}
.clipboard-input-inner {
  border: none;
  background-color: #3c404b;
}
.clipboard-input-inner input {
  color: white;
  background-color: #3c404b;
}
.clipboard-input-inner button {
  border: none;
  width: 30px;
  height: 30px;
  background-color: transparent;
}
.clipboard-input-inner button.tweet {
  display: none;
}
.instant-invite-popout hr {
  display: none;
}
#voice-connection .voice-connection-status-connected
{
    color: #2ecc71;
}
.guild-channels ul .channel-voice-states li.speaking
{
    transition: color .3s ease-in-out;

    color: #2ecc71;
}
.guild-channels ul .channel-voice-states li
{
    transition: color .2s ease-in-out;
}
.guild-channels ul .channel-voice-states li.speaking .avatar-small
{
    border: 2px solid transparent;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.guild-channels ul .channel-voice-states li .avatar-small
{
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.member-roles .member-role
{
    border: none;
    background-color: transparent;
}
.member-roles .member-role > .name
{
    color: white;
}
.user-popout .user-popout-options .btn
{
    transition: color .2s ease-in-out;

    border: none;
    border-radius: 0;
    background-color: #31343d;
}
.user-popout .user-popout-options .btn.btn-server:hover
{
    transition: color .2s ease-in-out;

    background-color: rgba(60, 64, 75, .75);
}
.message-group .btn-option
{
    visibility: visible;

    transition: opacity .2s ease-in-out;

    opacity: 0;
}
.message-group .btn-option.popout-open,
.message-group .comment > div:hover .btn-option
{
    transition: opacity .2s ease-in-out;

    opacity: 1;
}
.guilds li.active .guild-inner:before
{
    background: #ff1744;
}
.user-name
{
    transition: opacity .5s ease-in-out;

    opacity: .85;
}
.user-name:hover
{
    transition: opacity .5s ease-in-out;
    text-decoration: none;

    opacity: 1;
}
.message-group .mentioned .message-text
{
    background: rgba(255, 23, 68, .2);
}
.message-group .mentioned .message-text:after
{
    border-left: 4px solid #ff1744;
}
.chat .empty-message
{
    display: none;
}
.chat .welcome-message
{
    display: none;
}
.invite-button
{
    border: none;
}
#twitchcord-button-container
{
    display: none;
}
.user-settings-modal.settings
{
    width: 1000px;
    min-height: 800px;

    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.need-help-button
{
    font-size: 18px;
    font-weight: 800;

    width: 40px;
    height: 40px;

    border-style: none;
    border-radius: 50%;
    background-color: #ff1744;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.theme-dark .chat > .content .messages .invite-button
{
    background-color: transparent;
}
.btn-help
{
    font-size: 16px;
    font-weight: 200;
    background-color: #ff3f62
}

.need-help-button:hover, .btn-help:hover
{
    color: #fff;
    background-color: #ff3f62;
}
.guilds .friends-icon
{
    transition: background-color .5s ease-in-out;

    color: white;
    border: none;
    background-color: #ff1744;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.guilds .friends-icon:hover
{
    transition: background-color .5s ease-in-out;

    background-color: #ff3f62;
}
.guild-channels ul .channel-text .badge
{
    border-radius: 0;
    background-color: #ff1744;
}
.guilds li.active .guild-inner
{
    border-radius: 24px;
}


/*Avatar Settings*/
.channel-members .avatar-small .status
{
    right: -1px;
    bottom: 1px;

    border: none;
}
.online
{
    background-color: #2ecc71;
}
.idle
{
    background-color: #e67e22;
}
.avatar-large
{
    width: 60px;
    height: 60px;
    margin-left: 13px;

    border-radius: 30px;
    background-size: 60px 60px;
}
.avatar-small
{
    margin-bottom: 10px;

    box-shadow: 0 2px 4px rgba(0,0,0,.1);
}

.guilds li:hover .guild-inner
{
    transition: box-shadow .2s ease;
}
.guilds li:hover .guild-inner
{
    transition: box-shadow .2s ease;

    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0,0,0,.3);
}

.theme-dark .avatar-large
{
    box-shadow: 0 3px 6px rgba(0,0,0,.1);
}

/*Both Theme Settings*/
.guild-channels header h2
{
    opacity: 1;
    text-transform: lowercase;
    font-size: 15px;
}
.chat
{
    font-family: Roboto;
}
.guild-channels
{
    font-family: Roboto;
}
.guild-header header
{
    font-family: Roboto;
}
.guild-header
{
    background-color: rgba(0,0,0,0);
}
.guild-header ul
{
    background-color: none;
}

.account
{
    height: 40px;
}
.channel-textarea-inner
{
    width: 100%;
}
.theme-dark .chat form .typing
{
    background-color: transparent;
}
.theme-dark .chat > .content .messages .divider span
{
    background-color: transparent;
}
.theme-dark .chat > .content .messages .divider.divider-red > span
{
    opacity: 1;
    color: #ff1744;
}
.message-group .comment .markup code.inline
{
  background: #1c1e24;
}
.theme-dark .chat>.content .messages .message-group .comment .markup code.inline, .theme-dark .chat>.content .messages .message-group .comment .markup pre code
{
  background: #1c1e24;
  color: white;
}
.theme-light .chat>.content .messages .message-group .comment .markup {
  color: rgb(54, 54, 54);
}
.theme-light .chat>.content .messages .message-group .comment .markup code.inline, .theme-dark .chat>.content .messages .message-group .comment .markup pre code
{
  background: rgb(179, 179, 179);
}
.theme-dark .chat-empty
{
    background: transparent;
}

/*Light Theme Chat*/
.theme-light .message-group
{
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;

    border-color: rgba(0,0,0,0);
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.theme-light .messages-wrapper
{
    background-color: #e6e6e6;
}

.chat .divider > span
{
    background-color: rgba(0,0,0,0);
}

/*Dark Theme Chat*/
.chat .new-messages-bar {
  border-radius: 0px;
  background-color: #ff1744;
  right: 34px;
  left: 20px;
}
.chat .new-messages-bar:hover {
  background-color: #ff3f62;
}
.chat .new-messages-bar button:last-child {
  text-transform: lowercase;
  color: white;
}
.theme-dark .message-group
{
    margin-right: 20px;
    margin-bottom: 10px;
    margin-left: 20px;

    border: none;
    background-color: #363a45;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    border-radius: 2px;
}
.theme-dark .chat > .content .messages .message-group h2 strong:hover
{
    text-decoration: none;
}
.theme-dark .messages-wrapper
{
    background-color: #2d3039;
}
.theme-dark .chat
{
    background-color: #2d3039;
}
.theme-dark .chat .divider > span
{
    background-color: rgba(0,0,0,0);
}
.scroller-wrap .scroller::-webkit-scrollbar-thumb,
.theme-dark .chat > .content :first-child  .scroller-wrap .scroller::-webkit-scrollbar-thumb
{
    border: none;
    border-radius: 3px;
    background-color: #363a45;
    background-clip: padding-box;
}

.theme-dark .chat > .content :first-child .scroller-wrap .scroller::-webkit-scrollbar-track-piece,
.scroller-wrap .scroller::-webkit-scrollbar-track-piece
{
    border: none;
    border-radius: 0;
    background-color: transparent;
    background-clip: padding-box;
}

.theme-dark .chat > .content :first-child .scroller-wrap .scroller::-webkit-scrollbar-track-piece,
.scroller-wrap .scroller::-webkit-scrollbar-track-piece :hover
{
    border: none;
    border-radius: 0;
    background-color: transparent;
    background-clip: padding-box;
}
.theme-dark .chat > .content .messages .mentioned .message-text
{
    background: rgba(255, 23, 68, .1);
}

/*Light Theme Left Sidebar*/
.theme-light .guild-channels
{
    background-color: #2d3039;
}
.theme-light .guilds-wrapper
{
    background-color: #1c1e24;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.guild-header header
{
    box-shadow: none;
}
.guild-header header:hover
{
    background-color: #363a45 !important;
}
.theme-light .account
{
    border: none;
    background: #2d3039;
}
.theme-light #voice-connection
{
    border: none;
    background-color: #2d3039;
}
.theme-light #voice-connection .btn-group
{
    border: none;
    background-color: #2d3039;
}
.theme-light #voice-connection .btn-disconnect
{
    background-color: transparent;
    box-shadow: none;
}
.theme-light #voice-connection .btn-info
{
    border: none;
    background-color: transparent;
}
.theme-light .account .btn-group
{
    border: none;
}
.theme-light .account .btn-deafen,
.account .btn-mute
{
    border: none;
    background-color: transparent;
}
.theme-light .account .btn-deafen,
.account .btn-settings
{
    border: none;
    background-color: transparent;
    box-shadow: none;
}
.theme-light .links
{
    background-color: #2d3039;
}

.account
{
    height: 40px;
}

.need-help-button
{
    font-size: 18px;
    font-weight: 800;
    color: white;
    width: 40px;
    height: 40px;

    border-style: none;
    border-radius: 50%;
    background-color: #ff1744;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.guilds-add
{
    transition: background-color .2s ease;

    color: white;
    border: none;
    background-color: #ff1744;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.guilds-add:hover
{
    transition: backgound-color .2s ease;

    background-color: #ff3f62;
}

.channel-text.selected
{
    background: -webkit-linear-gradient(left, #fff 85%, #2e3136);
    background:         linear-gradient(to right, #fffff 85%, #2e3136);
}

/*Dark Theme Left Sidebar*/
.theme-dark .guild-channels
{
    background-color: #2d3039;
}
.guilds-wrapper
{
    background-color: #1c1e24;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}
.guild-header header
{
    background-color: #2d3039;
    box-shadow: none;
}
.theme-dark .guild-header header:hover
{
    background-color: #363a45;
}
.theme-dark .account
{
    border: none;
    background: #2d3039;
}
.theme-dark #voice-connection
{
    border: none;
    background-color: #2d3039;
}
.theme-dark #voice-connection .btn-group
{
    border: none;
    background-color: #2d3039;
}
.theme-dark #voice-connection .btn-disconnect
{
    background-color: transparent;
    box-shadow: none;
}
.theme-dark #voice-connection .btn-info
{
    border: none;
    background-color: transparent;
}
.theme-dark .account .btn-group
{
    border: none;
}
.theme-dark .account .btn-deafen,
.account .btn-mute
{
    border: none;
    background-color: transparent;
}
.theme-dark .account .btn-deafen,
.account .btn-settings
{
    border: none;
    background-color: transparent;
    box-shadow: none;
}
.links
{
    background-color: #2d3039;
}
.theme-dark .guilds-add
{
    transition: background-color .5s ease-in-out;

    color: white;
    border: none;
    background-color: #ff1744;
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.theme-dark .guilds-add:hover
{
    transition: backgound-color .5s ease-in-out;

    background-color: #ff3f62;
}
.theme-dark .guild-header.guild-header-open ul
{
    background-color: #363a45;
}
.theme-dark .guild-header.guild-header-close ul
{
    background-color: #363a45;
}
.guilds li.audio .guild-inner:after
{
    background-color: #ff1744;
}
.guild-channels ul .channel-text.selected:before
{
    border-left: 4px solid #ff1744;
}
.private-channels .channel.selected:before {
    transition: border-left .2s ease-in-out;
    border-left: 4px solid #ff1744;
}
.guild-channels ul .channel-text:hover:not(.unread):before
{
    transition: border-left .2s ease-in-out;
    border-left: 4px solid #ff1744;
}
.private-channels .channel:hover:before {
    transition: border-left .2s ease-in-out;
    border-left: 4px solid #ff1744;
}
.guild-channels ul .channel-text.unread:not(.selected):not(.channel-muted):before
{
    background-color: #ff1744;
}
.guild-channels ul .channel-text:hover:not(.unread):before
{
    border-left: 4px solid #ff1744;
}
.channel-members .member.popout-open,
.channel-members .member:hover
{
    background: linear-gradient(to left,#ebebeb 85%,#f3f3f3);
}
.private-channels
{
    background-color: #2d3039;
}
.channel-members h2 {
  text-transform: none;
  font-size: 14px;
}
.theme-dark .channel-members h2 {
  color: rgba(255, 255, 255, 0.7);
}

/*Light Theme Header*/
.chat > .title-wrap > .title .channel-name:before
{
    display: none;
}

/*Dark Theme Header*/
.theme-dark .title-wrap
{
    background-color: transparent !important;
}
.theme-dark .chat > .title-wrap
{
    border-bottom: 0 solid black;
}

/*Light Theme Right Sidebar*/
.channel-members
{
    background-color: #e6e6e6;
}

/*Dark Theme Right Sidebar*/
.theme-dark .channel-members-wrap
{
    background-color: transparent !important;
}
.theme-dark .channel-members
{
    background-color: #2d3039;
}
.theme-dark .channel-members .invite-btn
{
    background-color: transparent;
}
.theme-dark .channel-members .invite-btn:hover
{
    background-color: #363a45;
}


/*Text Box*/
.form
{
    background-color: #3c404b !important;
}
.channel-textarea-upload
{
    display: none;
}
/*dark*/
.theme-dark .channel-textarea
{
    border: none;
    background-color: #2d3039;
}

.theme-dark .channel-textarea-inner
{
    border: none;
    background-color: #2d3039;
}
.theme-dark textarea
{
    margin-right: 80px;
    padding: 17px;

    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.theme-dark .chat form
{
    border: none;
}
.theme-light .flex-spacer
{
    background-color: #e6e6e6;
}

.theme-dark .flex-spacer
{
    background-color: #2d3039;
}
.theme-dark .channel-textarea-inner textarea
{
    background-color: #363a45;
}
.theme-dark .chat > .content .messages .message-group:not(.has-divider)
{
    border: none;
}

/*light*/
.theme-light .channel-textarea
{
    background-color: rgba(0,0,0,0);
}

.theme-light .channel-textarea-inner
{
    border-color: rgba(0,0,0,0);
    border-radius: 0;
    background-color: rgba(0,0,0,0);
}

.theme-light textarea
{
    margin-right: 80px;
    padding: 17px;

    transition: box-shadow .3s ease;

    box-shadow: 0 1px 3px rgba(0,0,0,.2);
}

.theme-light .flex-spacer
{
    background-color: #e6e6e6;
}

.theme-dark .flex-spacer
{
    background-color: #2d3039;
}

/*Title Wrap*/
.title-wrap
{
    background-color: #363a45;
}
.theme-dark .chat .title-wrap
{
    background-color: #363a45;
    box-shadow: 0 6px 12px rgba(0,0,0,.2);
    border-bottom: 0 solid rgba(0,0,0,0);
}
.theme-light .chat .title-wrap
{
    background-color: #363a45;
    box-shadow: 0 6px 12px rgba(0,0,0,.2);
    border-bottom: 0 solid rgba(0,0,0,0);
}

.theme-dark .chat .title-wrap .topic .topic-full
{
    border-bottom: 0 solid rgba(0,0,0,0);
}
.theme-light .chat .title-wrap .topic .topic-full
{
    border-bottom: 0 solid rgba(0,0,0,0);
}

/* Clock plugin by Jiiks */
/*in beta, not styled that well*/
#clockPluginClock {
    background-color: #2d3039;
    color: white;
}
